#root{
    /* overflow-x: hidden; */
}

#amazen-logo{
    height: 40px;
    width: 110px;
    margin-top: 15px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

a:-webkit-any-link{
    color: #0066c0;
  } 

.session-div {
    margin: 0 auto;
    width: 312px;
    border: 1px solid #e6e1e1;
    border-radius: 4px;
    padding-left: 18px ;
    padding-right: 18px ;
    padding-bottom: 18px;
    font-size: 12.5px;
    font-family: 'Lato', sans-serif;
}


.session-div label{
    font-weight: bold;
    /* padding-top: 20px; */
}

.session-div input{

    width: 296px;
    border-radius: 3px;
    /* height: 31px; */
    height: 23px;
    border: 1px solid #a6a6a6;
    font-size: 12.5px;
    font-family: 'Lato', sans-serif;
    margin-bottom: 12px;
    margin-top: 4px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 7px;
    padding-right: 7px;
    /* padding-left: 7px; */

}

.session-div input:focus{
    border-color: #e77600;
    box-shadow: 0 0 3px 2px rgba(228,121,17,0.5);
}


#password-note{
    font: small;
    margin-bottom: 6px;
    
}

.pw-alert-container{
    display: flex;
}

#pwAlert-icon{
    height: 13px;
    width: 13px;
    display: block;
    padding-top: 1px;
    padding-right: 3px;
}

#auth-pw{

        width: 296px;
        border-radius: 3px;
        /* height: 31px; */
        height: 23px;
        border: 1px solid #a6a6a6;
        font-size: 12.5px;
        font-family: 'Lato', sans-serif;
        padding-left: 7px;
        padding-right: 7px;
        margin-bottom: 20px;

}

.auth-btn.demo {
    margin-bottom: 20px;
    width: 310px;
    border: 1px solid #a6a6a6;
    height: 31px;
    border-radius: 3px;
}

.auth-btn.demo:focus {
    border-color: #e77600;
    box-shadow: 0 0 3px 2px rgba(228, 121, 17, 0.5);
}


#incorrect-email{
    width: 350px;
    height: 95px;
    margin: 20px auto;
}

#incorrect-phone{
    width: 350px;
    height: 95px;
    margin: 20px auto;
}

#incorrect-password{
    width: 350px;
    height: 78px;
    margin: 20px auto;
}

h5.input-error{
    color:  #c40000;
    margin-bottom: 10px;
    margin-top: 0px;
    font-family: 'Lato', sans-serif;
    font-weight:520;
    font-size: 1em;
    
}

h1{
    font-size: 28px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: 'Lato', sans-serif;
}

input.input-error {
    border: 1px solid #c40000;
    box-shadow: 0 0 0 3px rgba(221,0,0,0.1) inset;
}

#password-label{
    font-weight: bold;
    font-size: 12.5px;
}

#newAmazen{
    color: rgb(168, 166, 158);
    font-size: 0.75em;
}


#exist-email {
    margin-bottom: 20px;
    display: flex
}

#email-change{
    margin-top: 4px;
}

.auth-btn{
    background: #e4bc57;
    text-align: center; 
    margin: auto;
    /*  */
    background: rgb(255,255,255);
    background-image: linear-gradient(rgb(247, 223, 165), rgb(240, 193, 75));
    border-color: #c59f3d #9c7e31 #846a29;

}

.auth-btn:hover{
    background-image: linear-gradient(rgb(247, 213, 165), rgb(240, 187, 75));    
    border-color: #a88734 #9c7e31 #846a29;

}
#auth-footnotes{
    font-size: 0.75em;
    width: 312px;
    margin: 30px auto;
    padding-left: 55px ;
    padding-top: 26px;
    font-family: 'Lato', sans-serif;
    /* font-size: 0.7em; */
}

input.backFirstSignIn{
    color: #0066c0;
    border: none;
    margin: 0px;
    padding: 0px 4px;
}

.signin-form-bottom{
    margin-top: 25px;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    /* margin: 30px, auto; */
}

.create-account-btn{
    color: black;
    width: 100%;
    height: 31px;
    background: #e7e9ec;
    text-align: center; 
    border-radius: 3px;
    margin-top: 14px;
    border: 1px solid #c5c0c0;
    font-size: 12.5px;
    font-family: 'Lato', sans-serif;
}

.create-account-btn:focus {
    border-color: #e77600;
    box-shadow: 0 0 3px 2px rgba(228, 121, 17, 0.5);
}


.email-taken-alert{
    width: 313px;
    height: 95px;
    /* margin: 20px auto; */
    padding: 2px;
    border: orange solid 1px ;
    border-radius: 4px;
    box-shadow: 0 0 0 4px #fffae7 inset;
    margin: 20px auto;
    display: flex;
    
}

#notes{
    margin-bottom: 20px;
    font-size: 0.9em;
}


.sign-up-email-taken{
    padding-left: 13px;
    font-size: 13px;
    font-weight: bold;
}

h3{
    margin-top: 11px;
    margin-left: 1px;
    color: #6f6e6b;
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    font-weight: 500;
}

.email-taken-info{
    font-size: 0.98em;

}

.session-div.email-taken{
    border: none;
}

.fade_rule {
    height: 2px;
    background-color: #E6E6E6;
    margin-bottom: 25px;
    background-image: -webkit-linear-gradient(left , white 2%, #E6E6E6 50%, white 98%);
}
.signin_fade_rule {
    height: 2px;
    background-color: #E6E6E6;

    background-image: -webkit-linear-gradient(left , white 2%, #E6E6E6 50%, white 98%);
    margin-top: 30px;

}

h2.crossline {
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid rgb(233, 232, 229); 
    line-height: 0.1em;
    margin: 10px 0 4px; 
 } 
 
 h2.crossline span { 
     background:#fff; 
     padding:0 8px; 
 }

 /*  */


.auth-errors {
    border: 1px solid #c40000;
    box-shadow: 0 0 0 3px rgba(221,0,0,.1) inset;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 10px 26px 15px 15px;
    margin-top: 2px;
    width: 350px;
    margin: 0 auto;
    margin-bottom: 15px;
    display: flex;
    height: 84px;
}

.auth-errors div {
    height: 40px;
    width: 40px;
    margin-right: 10px;
}

 .auth-errors img {
    display: inline-block;
    object-fit: fill;
    box-sizing: border-box;
    width: 112%;
    height: 32px;

}

.auth-errors span{
    display: inline-block;
    height: inherit;
    text-align: left;
    padding: 0px;
    margin: 0px;
}

.auth-errors h4{
    color: #c40000;
    font-size: 17px;
    font-weight: 400;
    margin: 0px; 
    font-family: 'Lato', sans-serif;
    margin-bottom: 5px;
    padding-top: 4px;
}
.auth-errors h5{
    margin: 0px;
    color: black;
    font-size: 13px;
    font-weight: 400;
}

h3.email-taken-alert {
    margin-top: 11px;
    margin-left: 5px;
    color: #b38a3f;
    margin-bottom: 5px;
}
#emailBad{
    margin-top: 0px;
    margin-left: 13px;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 4px;
    
}

#ep-taken{
    height: 23px;
    width: 30px;
}

#yellowWarn{
    height: 30px;
    margin: 6px;
    width: 34px;
}

#emailBadBig{
    color: #af7d20;
    margin-left: 12px;
    margin-bottom: 6px;
    margin-top: 13px;
    font-size: 17px;
}

/* .signin-container{
    width: 380px;
} */