#amazen-logo{
    height: 40px;
    width: 110px;
    margin: 20px auto;
}

a:-webkit-any-link{
    color: #0066c0;
  } 

.session-div {
    margin: 0 auto;
    width: 312px;
    border: 1px solid #e6e1e1;
    padding-left: 18px ;
    padding-right: 18px ;
    padding-bottom: 18px;
    font-size: 12.5px;
    font-family: 'Lato', sans-serif;
}


.session-div label{
    font-weight: bold;
    /* padding-top: 20px; */
}

.session-div input{

    width: 296px;
    border-radius: 3px;
    margin-bottom: 12px;
    margin-top: 4px;
    /* height: 31px; */
    height: 23px;
    border: 1px solid #a6a6a6;
    font-size: 12.5px;
    font-family: 'Lato', sans-serif;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 7px;
    padding-right: 7px;
    /* padding-left: 7px; */

}

.session-div input:focus{
    border-color: #e77600;
    box-shadow: 0 0 3px 2px rgb(228 121 17 / 50%);
}


#password-note{
    font: small;
    margin-bottom: 6px;
    
}

.pw-alert-container{
    display: flex;
}

#pwAlert-icon{
    height: 13px;
    width: 13px;
    display: block;
    padding-top: 1px;
    padding-right: 3px;
}

.auth-btn.demo {
    margin-bottom: 20px;
    width: 310px;
    border: 1px solid #a6a6a6;
    height: 31px;
    border-radius: 3px;
}

#incorrect-email{
    width: 350px;
    height: 95px;
    margin: 20px auto;
}

#incorrect-phone{
    width: 350px;
    height: 95px;
    margin: 20px auto;
}

#incorrect-password{
    width: 350px;
    height: 78px;
    margin: 20px auto;
}

h5.input-error{
    color:  #c40000;
    margin-bottom: 10px;
    margin-top: 0px;
    font-family: 'Lato', sans-serif;
    font-weight:520;
    font-size: 0.8em;
    
}

h1{
    font-size: 28px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: 'Lato', sans-serif;
}

input.input-error {
    border: 1px solid #c40000;
    box-shadow: 0 0 0 3px rgb(221 0 0 / 10%) inset;
}

#password-label{
    font-weight: bold;
    font-size: 12.5px;
}

#newAmazen{
    color: rgb(161, 159, 151);
    font-size: 0.75em;
}


#exist-email{
    margin-bottom: 20px;
}



.auth-btn{
    background: #f0c14b;
    text-align: center; 
    margin: auto;

}

#auth-footnotes{
    font-size: 0.75em;
    width: 312px;
    margin: 30px auto;
    padding-left: 55px ;
    padding-top: 26px;
    font-family: 'Lato', sans-serif;
    /* font-size: 0.7em; */
}

button.backFirstSignIn{
    color: #0066c0;
}

.signin-form-bottom{
    margin-top: 25px;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    /* margin: 30px, auto; */
}

.create-account-btn{
    color: black;
    width: 100%;
    height: 31px;
    background: #e7e9ec;
    text-align: center; 
    border-radius: 3px;
    margin-top: 14px;
    border: 1px solid #c5c0c0;
    font-size: 12.5px;
    font-family: 'Lato', sans-serif;
}


.email-taken-alert{
    width: 313px;
    height: 95px;
    /* margin: 20px auto; */
    padding: 2px;
    border: orange solid 1px ;
    border-radius: 4px;
    box-shadow: 0 0 0 4px #fffae7 inset;
    margin: 20px auto;
    
}

#notes{
    margin-bottom: 20px;
    font-size: 0.9em;
}


.sign-up-email-taken{
    padding-left: 49px;
    font-size: 11px;
    font-weight: bold;
}

h3{
    margin-bottom: 5px;
    font-size: 17px;
    font-weight: normal;
}

.email-taken-info{
    font-size: 0.98em;

}

.session-div.email-taken{
    border: none;
}

.fade_rule {
    height: 2px;
    background-color: #E6E6E6;
    margin-bottom: 25px;
 
    background-image: -webkit-linear-gradient(left , white 2%, #E6E6E6 50%, white 98%);
}

h2.crossline {
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid rgb(233, 232, 229); 
    line-height: 0.1em;
    margin: 10px 0 4px; 
 } 
 
 h2.crossline span { 
     background:#fff; 
     padding:0 8px; 
 }
 