#nav-bar-top{
    display: flex;
    justify-content: space-between;
}

.nav-top-left{
    display: flex;
    margin-left: 10px;
}
.nav-top-right{
    display: flex;
    position: static;
    justify-content: space-between;
}

#nav-amazen-logo{
    margin-top: 5px;
    height: 55px;
    width: 134px;
    margin-right: 6px;
    border: 1px transparent solid;
}
#nav-amazen-logo:hover{
    border: 1px solid #f1f1f1;
    border-radius: 3px;
}

#nav-address{
    margin-top: 5px;
    width: 143px;
    height: 55px;
    margin-right: 6px;
    border: 1px transparent solid;
}

#nav-address:hover{
    border: 1px solid #f1f1f1;
    border-radius: 3px;
}

.nav-signin-container{
    padding-top: 7px; 
    margin-top: 7px;
    margin-right: 20px;
    height: 45px;
    text-align: center;
    border: 1px transparent solid;

}

.nav-signin-container:hover{
    border: 1px solid #f1f1f1;
    border-radius: 3px;
}


span #nav-account{
    font-size: 13px;
}

span.nav-signin{
    color: white;
    font-size: 12px;
    max-width: 130px;
    display: inline-block;
    text-overflow: ellipsis; 
    white-space: nowrap;
    overflow: hidden;
    height: 11px

}

p.nav-signin{
    color: white;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    max-width: 130px;
    display: inline-block;
    text-overflow: ellipsis; 
    white-space: nowrap;
    overflow: hidden;
    height: 16px;
}

p.nav-signin.username{
    max-width: 150px;
    color: white;
    font-size: 12px;
    height: 11px;
    text-align: center; 
    display: inline-block;
    text-overflow: ellipsis; 
    white-space: nowrap;
    overflow: hidden;
    font-weight: normal;
}

button.nav-signin{
    color: white;
    font-size: 14px;
    font-weight: bold;
}

div.searchbar{
    width: 68%;
}

input.nav-search-bar{
  
    height: 38px;
    width: 94%;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    margin-top: 6px;
    background-color: white;

}

div.nav-search-bar-container{

    margin-top: 7px; 
    display: flex;
    justify-content: center;
}

#search-icon{
    width: 45px;
    height: 50px;
}

#nav-language{
    padding-bottom: 14px;
    width: 45px;
    height: 38px;
    margin-top: 7px;
    margin-right: 20px;
    margin-left: 15px;
    border: 1px transparent solid;
}

#nav-language:hover{
    border: 1px solid #f1f1f1;
    border-radius: 3px;
}

.nav-returns{
    /* font-size: 12px; */
    padding-top: 5px; 
    margin-top: 6px;
    margin-right: 20px;
    height: 45px;
    text-align: center;
    border: 1px transparent solid;
}

.nav-returns:hover{
    border: 1px solid #f1f1f1;
    border-radius: 3px;
}

#nav-cart{
    margin-top: 6px;
    width: 60px;
    height: 40px;
    margin-right: 20px;
    padding-bottom: 11px;
    border: 1px transparent solid;

}

#nav-cart:hover{
    border: 1px solid #f1f1f1;
    border-radius: 3px;
}



#nav-bar-top{
    display: flex;
    background-color: #0F1111;
    height: 62px;
    justify-content: space-between;
}

#nav-mid-all{
    margin-top: 2px;
    margin-left: 10px;
    width: 60px;
    height: 34px;
}

#nav-bar-mid{
    background-color: #232F3E;
    color: white;
    display: flex;
}

button.sub-nav{
    margin: 5px 0 6px 0;
    padding: 7px 8px;
    height: 12px;
    width: auto;
    display: none;
    border: 1px solid transparent;
    
}

button.sub-nav:hover {
    border: 1px solid #f1f1f1;
    border-radius: 3px;
}

button.subNav.last {
    margin-left: 45px;
    margin-right: 25px;
    font-weight: bold;
    width: 182px;
    height: 28px;
    font-size: 14px;
    margin-top: 3px;
    border: 1px solid transparent;
    text-align: center;
}

button.subNav.last:hover {
    border: 1px solid #f1f1f1;
    border-radius: 3px;
}


#nav-mid-container{
    display: flex; 
    background-color: #232F3E;
    color: white;
    font-size: 14px;
    height: 39px;
    width: 80%;
    white-space: nowrap;
}


@media only screen and (min-width: 1770px) { 
    button.xlg { 
        display: flex; 
    } 
} 
@media only screen and (min-width: 1480px) { 
    button.lg { 
        display: flex; 
    } 
} 

/* check if the screen size is at least 400px */ 
@media only screen and (min-width: 1209px) { 
    button.md { 
        display: flex; 
    } 
} 

/* check if the screen size is at least 100px */ 
@media only screen and (min-width: 800px) { 
    button.sm { 
        display: flex; 
    } 
} 
/* check if the screen size is at least 100px */ 
@media only screen and (min-width: 500px) { 
    button.xsm { 
        display: flex; 
    } 
} 



