#nav-amazen-logo{
    height: 50px;
    width: 134px;
}

#nav-address{
    width: 163.75px;
    height: 50px;
    background-color: #0F1111;
}

.nav-signin-container{
    background-color: #0F1111;
    width: 70px; 
    padding-top: 5px; 
}

span #nav-account{
    font-size: 13px;
}

span.nav-signin{
    max-width: 70px;
    color: white;
    font-size: 10px;
    height: 10px;
    text-align: center; 
    display: inline-block;
    text-overflow: ellipsis; 
    white-space: nowrap;
    overflow: hidden;
}
p.nav-signin{
    color: white;
    font-size: 13px;
    text-align: center;
}

button.nav-signin{
    color: white;
    font-size: 14px;

}

#nav-serarch-bar{
    width: 500px;
    height: 38px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    margin-top: 5px;
    background-color: white;
}
.nav-serarch-bar-container{
    margin-top: 7px;
    display: flex;
    justify-content: center;
}

#search-icon{
    width: 45px;
    height: 48px;
}

#nav-language{
    width: 45px;
    height: 40px;
}
#nav-returns{
    width: 60px;
    height: 40px;
    margin-top: 5px;

}

#nav-cart{
    width: 60px;
    height: 40px;
}

#nav-mid-all{
    width: 60px;
    height: 40px;
}

#nav-bar-top{
    display: flex;
    background-color: #0F1111;
    height: 60px;
    justify-content: space-between;
}

#nav-bar-mid{
    background-color: #232F3E;
    color: white;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

button #nav-bar-mid{
    border: tomato;
}

