


#homeCategory h1 {
    font-size: 38px;
    font-weight: lighter;
    color:  #0F1111;
    text-align: center;
    margin-top: 25px;
}

#homeCategory h3 {
    font-size: 21px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 10px
}

#category_img{
    height: 80px;
    width: 80px;
    border: 1px transparent solid;
    margin-bottom: 10px;
}



#catPic{
    height: 130px;
    width: auto; 
    padding-right: 2px;
    margin: auto;
}


#catPic:hover{
    text-decoration:underline;
    text-decoration-color: red;
}


#catPic span{
    font-size: 11px;
    display: table-caption;
    text-align: center;
    min-width: 82px;
    color: black;
    font-weight: 600;
}

#select-category-cantainer{
    margin-left: 35px; 
    /* margin-right: 35px; */
    /* margin-left: 1%; */
    /* margin-right: 3%; */
}

#select-category{
    display: flex;
    margin-bottom: 40px;
    /* margin-left: 2%;
    margin-right: 2%; */
}

#category_img:hover{
   
    border:#797676 1px solid;    
   
}

#catPic{
    display: none;
}



@media only screen and (min-width: 800px) { 
    #catPic.xxlg { 
        display: flex; 
    } 
} 

@media only screen and (min-width: 860px) { 
    #catPic.xlg { 
        display: flex; 
    } 
} 
@media only screen and (min-width: 844px) { 
    #catPic.lg { 
        display: flex; 
    } 
} 

@media only screen and (min-width: 800px) { 
    #catPic.md { 
        display: flex; 
    } 
} 

@media only screen and (min-width: 650px) { 
    #catPic.sm { 
        display: flex; 
    } 
} 

@media only screen and (min-width: 490px) { 
    #catPic.xsm { 
        display: flex; 
    } 
} 

@media only screen and (min-width: 350px) { 
    #catPic.xxsm { 
        display: flex; 
    } 
} 

