


#homeCategory h1 {
    font-size: 38px;
    font-weight: lighter;
    color:  #0F1111;
    text-align: center;
    margin-top: 25px;
}

#homeCategory h3 {
    font-size: 21px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 10px;
    color: black;
}

#category_img{
    height: 80px;
    width: 80px;
    border: 1px transparent solid;
    margin-bottom: 10px;
 
}


#category_img:hover{
   
    /* border:#797676 1px solid;     */
    border-radius: 40px;   
    filter: brightness(95%);
    
}

#catPic{
    height: 130px;
    width: auto; 
    padding-right: 2px;
    margin: auto;
}


#catPic:hover{
    text-decoration:underline;
    text-decoration-color: red;
}


#catPic span{
    font-size: 11px;
    display: table-caption;
    text-align: center;
    min-width: 82px;
    color: black;
    font-weight: 600;
}

#select-category-cantainer{
    margin-left: 35px; 
    /* margin-right: 35px; */
    /* margin-left: 1%; */
    /* margin-right: 3%; */
}

#select-category{
    display: flex;
    margin-bottom: 40px;
    /* margin-left: 2%;
    margin-right: 2%; */
}


#catPic{
    display: none;
}



@media only screen and (min-width: 1090px) { 
    #catPic.xxlg { 
        display: flex; 
    } 
} 

@media only screen and (min-width: 960px) { 
    #catPic.xlg { 
        display: flex; 
    } 
} 
@media only screen and (min-width: 880px) { 
    #catPic.lg { 
        display: flex; 
    } 
} 

@media only screen and (min-width: 680px) { 
    #catPic.md { 
        display: flex; 
    } 
} 

@media only screen and (min-width: 518px) { 
    #catPic.sm { 
        display: flex; 
    } 
} 

@media only screen and (min-width: 450px) { 
    #catPic.xsm { 
        display: flex; 
    } 
} 

@media only screen and (min-width: 340px) { 
    #catPic.xxsm { 
        display: flex; 
    } 
} 

