#bsp-container{
    width: 76%;
    margin: auto;
    margin-top: 55px;
    min-width: 1000px;
    max-width: 1500px;
}

#showPage-bookImg{
    height: 346px;
    width: 230px;
    
}

#lookInside_bookShow{
    width: 99px;
    height: 19px;
    padding-left: 131px;
}

#fiveStar{
    width: 224px;
    height: 25px;
    margin-bottom: 15px;
    margin-top: 15px;
}

#bsp-container-first{
    display: flex;
    width: 100%;
    /* border: blue 1px solid; */
    margin-bottom: 40px;
    /* height: 600px; */
}

.bsp-detail{
    /* border: greenyellow 1px solid; */
    width: 60%;
    min-width: 400px;
    margin-left: 4%;
    margin-right: 4%;
    
}

.bsp-prices{
    display: flex;
    flex-wrap: wrap;
}

.price-btn{
    width: 100px;
    height: 39px;
    border: solid 1px  #a2a6ac;
    padding: 5px 10px 5px 11px;
    font-size: 13px;
    margin-left: 10px;
    margin-top: 5px;
    border-radius: 3px;
}

.price-btn.change{
    border: red solid 1px;
    background-color: #fff6e6;
}

.book-show-price{
    
    font-weight: bolder;
    color: #B12704;
}

.book-show-format{
    color: black;
    font-weight: bolder;
}





.className:focus{
    color: red;
}

.book-description{
    margin-top: 50px;
    font-size: 13px;
}



.diff-price{
    font-size: 12px;
    color: #007185;
    margin-top: 18px;
    margin-bottom: 6px;
}

.bsp-author{
    color: #007185;
    /* margin-bottom: 4px; */
    margin-right: 12px;
    font-size: 14px;
}

.bsp-title{
    font-size: 28px;
    margin-bottom: 5px;   
    margin-right: 4px;
    
}

.font-for-author{
    font-size: 14px;
}

.bsp-publication{
    font-size: 24px;
    margin-bottom: 4px;
}


.bsp-catogory{
    color: #007185;
}
.book-category{
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(224, 220, 220);
}

#bsp-container-secend{
    margin-bottom: 100px;
    /* border: 1px solid red; */
}

.author-bio-name{
    font-size: 20px;
    margin-bottom: 10px;
}

.about-book{
     /* margin-left: 50px; */
     /* margin-bottom: 35px; */
     margin-top: 35px;
     font-size: 14px;
}

#bsp-container-third h2{
    font-size: 24px;
}
#bsp-container-third{
    
    display: flex;
}

.book-reviews-container-left{
    width: 30%;

}


/*  */
#progressbar {
    background-color: rgb(247, 247, 247);
    border-radius: 5px;
    border: 1px solid rgb(224, 221, 221);
    margin-bottom: 15px;
    width: 200px;
}
  
  #progressbar>div {
    background-color: #FFA41C;
    height: 20px;

    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
  }

  /*  */

  .rating-bar-container{
    display: flex;
}



#book-reviews-container-right{
    /* height: 800px; */
    /* border: 1px solid red; */
    margin-bottom: 100px;
    width: 60%;
    margin-left: 100px;
}



.SelectForm{
    margin: 5px 4px;
}

.shipFrom{
    margin-top: 10px;
    font-size: 12px;
}

.soldBy{
    margin-bottom: 16px;
    font-size: 12px;
}

#reviewUser-pic{
    width: 34px;
    height: 34px;
}

#ReviewStars{
    width: 80px;
    height: 18px;
}

#PictureText{
    display: flex;
}

.PictureText-text{
    padding: 10px;
}

.rating-star-container-bookShow-top{
    display: flex;
    margin-top: 3px;
    flex-wrap: wrap;
    border-bottom: 1px solid #dedede;
}
.rating-star-container-review{

    unicode-bidi: bidi-override;
    color: #c5c5c5;
    font-size: 17px;
    height: 25px;
    width: 83px;
    margin: 0 0;
    position: relative;
    padding: 0;
    text-shadow: 0px 1px 0 #a2a2a2;
}

.star-ratings-css-reviewbottom{
    unicode-bidi: bidi-override;
    color: #c5c5c5;
    font-size: 17px;
    height: 25px;
    width: 83px;
    margin: 0 0;
    position: relative;
    padding: 0;
    text-shadow: 0px 1px 0 #a2a2a2;
}
.bsp-PictureText-title{
    padding-top: 6px;
    margin-left: 12px;
    margin-bottom: 5px;
    font-weight: 550;
    font-size: 14px;
}

.reviewUS{
    margin-bottom: 20px;
    margin-left: 4px;
    font-size: 14px;
    white-space: nowrap;
    color: grey;
}
.reviewDateNBody{
    margin-bottom: 20px;
    margin-left: 4px;
    font-size: 14px;
    white-space: nowrap;
    color: black;
}

.deleteReview-btn{
    width: 77px;
    height: 20px;
    border: solid 1px rgb(173, 177, 184); 
    text-align: center;
    background-color: #e7e9ec;
    border-radius: 3px;
    padding-top: 2px;
    font-size: 14px;
    
}
.editReview-btn{
    width: 77px;
    height: 20px;
    border: solid 1px rgb(173, 177, 184);
    text-align: center;
    background-color: #e7e9ec;
    border-radius: 3px;
    font-size: 14px;
    padding-top: 2px;
    color: black;
    /* margin-bottom: 10px; */
}

.delete-edit-btn{
    display: flex;
    margin-bottom: 10px;
}

.deleteReview-btn:focus{
    border-color: #e77600;
    box-shadow: 0 0 3px 2px rgba(228, 121, 17, 0.5);
}
.editReview-btn:focus{
    border-color: #e77600;

    box-shadow: 0 0 3px 2px rgba(228, 121, 17, 0.5);
}

#postReview{
    background-color: #ebedef;
    border: solid 1px rgb(173, 177, 184); 
    text-align: center;
    width: 288px;
    height: 18px;
    border-radius: 3px;
    margin-bottom: 20px;
    color: black;
    font-size: 14px;
    padding: 6px;
}

#postReview:hover{

    background-color: #e3e4e6;
}

.postReview:hover{
    border-color: #e77600;
    box-shadow: 0 0 3px 2px rgba(228, 121, 17, 0.5);
}



.title-to-review{
    font-size: 16px;
    padding-top: 30px;
    border-top: 1px solid #e7e7e7;
    margin-top: 30px;
    font-weight: 600;
    margin-bottom: 10px;
}

.share-thoughts{
    margin-bottom: 19px;
    font-size: 14px;

}

.givenSpace{
    margin-bottom: 20px;
    font-size: 14px;
    color: #565959;
}

.star-ratings-css-review{
    unicode-bidi: bidi-override;
    color: #c5c5c5;
    font-size: 17px;
    height: 25px;
    width: 83px;
    margin: 0 0;
    position: relative;
    padding: 0;
    text-shadow: 0px 1px 0 #a2a2a2;
}

a.rating-cal{
    color: #007185;
    font-size: 14px;
}
.us-top-reviews{
    font-size: 17px;
    font-weight: 550;
    white-space: nowrap;
    margin-bottom: 18px;
}

.pictureText-text-user{
    font-size: 13px;
    padding-left: 8px;
    margin-top: 10px;
}


.review-count-top.showpage{

    margin-top: 2px;
    margin-left: 22px;
    /* min-width: 134px; */
    font-size: 15px;
    color: #007185;

}

.star-ratings-css-review.bigger {
    unicode-bidi: bidi-override;
    color: #c5c5c5;
    font-size: 20px;
    height: 25px;
    width: 100px;
    margin: 0 0;
    position: relative;
    padding: 0;
    text-shadow: 0px 1px 0 #a2a2a2;
}

.review-count.bigger{
    margin-top: 6px;
    margin-left: 6px;
    /* min-width: 134px; */
    font-size: 11px;
    color: #007185;

}

.grobal-review-count{
    margin-top: 4px;
    margin-left: 10px;
    /* min-width: 134px; */
    font-size: 18px;
    color: black;
}

.review-count-home-page{
    margin-top: 6px;
    margin-left: 8px;
    /* min-width: 134px; */
    font-size: 13px;
    color: black;
}

.showPage-book-info{
    margin-bottom: 20px;
    /* width: 150px; */
}