.book-quantity-select{

    width: 65px;
    outline: 0;
    font-size: 12px;
    font-family: 'Lato', sans-serif;
    border: 1px solid lightgray;
    box-shadow: 0px 1px 5px lightgrey;
    border-radius: 8px;
    background-color: #f4f4f4;
    padding: 2px;
    margin-top: 12px;
    margin-bottom: 28px;
    position: relative;
}

.book-quantity-select:focus {
    border-color: #007185;
    box-shadow: 0 0 0 3px #c8f3fa;
    background: #EDFDFF;

}

.addCartBtn-container{
    display: flex;
    flex-direction: column;
}


#addCartContainer{
    width: 270px;
    padding: 10px 14px ;
    border: #e6e3e3 3px solid;
    border-radius: 8px;
    height: 400px
}

.add-to-cart-button{
    border: solid 1px;
    height: 28px;
    /* width: 218px; */
    border-color: #a88734 #9c7e31 #846a29;
    border-radius: 4px;
    /* text-align: center; */
    font-size: 13px;
    background:  #f0c14b;
    display: flex;
}

.add-to-cart-button:hover{

    background-image: linear-gradient(rgb(247, 213, 165), rgb(240, 187, 75));    
    border-color: #a88734 #9c7e31 #846a29;
}

.add-to-cart-button:focus{
    outline: none;
    border-color: #e77600;
    box-shadow: 0 0 3px 2px rgba(228,121,17,.5);
}

.buy-now-button{
    display: flex;
    border: solid 1px;
    height: 28px;
    /* width: 218px; */
    border-color: #a88734 #9c7e31 #846a29;
    border-radius: 4px;
    /* text-align: center; */
    font-size: 13px;
    background:  rgb(237, 146, 32);

}

.buy-now-button:hover{

    background-image: linear-gradient(rgb(244, 188, 119), rgb(225, 133, 18));
    background-image: linear-gradient(rgb(244, 188, 119), rgb(225, 133, 18));
}

.buy-now-button:focus{
    outline: none;
    border-color: #e77600;
    box-shadow: 0 0 3px 2px rgba(228,121,17,.5);
}


.addToList{
    border: solid 1px;
    height: 28px;
    /* width: 218px; */
    border-color: #b9b9b6;
    border-radius: 4px;
    text-align: center;
    font-size: 13px;
    background: #f4f4f4;
}
.bsp-price-color{
    color: red;
    font-size: 14px;
    margin-left: 96px;
}

.secure-trans{
    font-size: 14px;
    color: #007185;
    margin-top: 26px;
}



.givenSmallSpace{
    margin: 4px;
}


#dropDownQuantity{
    height: 28px;
    width: 68px;
    margin-top: 10px;
    margin-bottom: 25px;
}

.inStock-color{
    color: rgb(4, 139, 4);
    font-size: 18px;

}

.freeShipping{
    margin-left: 75px;
    margin-top: 5px;
    margin-bottom: 12px;
    white-space: nowrap;
}

.cart-empty{
    font-size: 28px;
    margin-top: 45px;
    margin-left: 23px;
    color: black;
}

#continue-shopping {
    font-size: 14px;
    color: #007185;
    margin-left: 25px;
}

.empty-cart-page{
    height: 200px;
    /* width: 80%; */
}




/*  */

#shopping-cart-page-container{ 
  
    /* background-color: white;
    border: 18px solid #EAEDED; */
    padding: 25px;
    border-right: 18px solid #EAEDED;
    width: 83%;
}


.delete-all-book{
    color: #007185;
    font-size: 14px;
 }

/* .cart-page-left-side{
    width: 70%;
} */


.price-at-end{
    text-align: right;
    width: 100%;
    border-bottom: solid 1px grey;
    margin-bottom: 15px;
    font-size: 14px;
} 

.deleteOneItem{
    width: 75px;
    border-left: 1px solid grey;
    text-align: center;
    color: #007185;
    font-size: 12px;
    margin-left: 19px;
}


.cart-price{
    text-align: right;
    color: black;
    font-weight: 600;
    min-width: 56px;
    margin-top: 24px;
}

/* .cart-bottom-note{
    background-color: #EAEDED;
    font-size: 12px;
} */



.cart-book-info{
    min-width: 280px;
    margin-right: auto;
    padding: 0 35px;
} 

.carts-books-subtotal-left{
    color: #0F1111;
    font-size: 24px;
    padding-left: 5px;
    font-weight: 600;
    margin-bottom: 25px;
 } 

.carts-checkout{
    border: solid 1px;
    height: 28px;
    width: 255px;
    border-color: #a88734 #9c7e31 #846a29;
    border-radius: 4px;
    text-align: center;
    font-size: 13px;
    background:  #f0c14b;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 20px;
} 

.carts-checkout:hover{
    background-image: linear-gradient(rgb(247, 213, 165), rgb(240, 187, 75));    
    border-color: #a88734 #9c7e31 #846a29;
}

.carts-checkout:focus{
    outline: none;
    border-color: #e77600;
    box-shadow: 0 0 3px 2px rgba(228,121,17,.5);
}

.cart-book-img{
    height: 200px;
    width: 145px;
}

.carts-books-subtotal-tag-left{
    
    font-size: 18px;


    font-family: 'Lato', sans-serif;
}
.carts-books-subtotal-left{
    
    font-size: 19px;

    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

/* #shopping-cart-outer-container{
    background-color: #EAEDED;
} */

.not-show{
    display: none;
}

.on-the-way{
  
    display: block;
    color: #189018;
    border: #bce2bc solid 3px;
    width: 400px;
    height: 41px;
    font-size: 23px;
    text-align: center;
    margin: 30px auto;
    padding-top: 5px;
    border-radius: 13px;
}

.book-quantity-select-cart{
    width: 85px;
    height: 32px;
    outline: 0;
    font-size: 14px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    border: 1px solid lightgray;
    box-shadow: 0px 1px 5px lightgrey;
    border-radius: 8px;
    background-color: #f4f4f4;
    padding-left: 11px;
    margin-top: 12px;
    margin-bottom: 28px;
    position: relative;
}

.book-quantity-select-cart:focus {
    border-color: #007185;
    box-shadow: 0 0 0 3px #c8f3fa;
    background: #EDFDFF;

}

.carts-books-title{
    color: #007185;
    font-size: 18px;
    font-weight: 600;
    margin-right: 6px;
}

.carts-books-title:hover{
    text-decoration:underline;
    text-decoration-color: #B12704;
    color: #B12704;
}

.cart-book-author{
    font-size: 14px;
}

.cart-book-format{
    font-size: 12px;
    margin:  8px 0;
}

.carts-book-in-stock{
    font-size: 12px;
    color: #058552;
}

.cart-book-info-container{
    display: flex;
    padding-bottom: 25px;
    border-bottom: 1px #dcdbdb solid;
    margin-top: 15px;
}

.sub-total{
    text-align: right;
    margin-top: 6px;
}

.cart-page-right-side-container{

    /* border: red solid 1px; */
    height: 110px;
    width:298px;

}

.sub-total-right{
    text-align: left;
    margin: 20px 20px;
}

#shopping-cart-outer-container{
    display: flex;
    border: 18px solid #EAEDED;

    min-width: 950px;

}