.search-dropdown{
    display: none;
    background-color: white;

    flex-direction: column;

    margin-top: 40px;
    width: 100%;
    /* width: 100px; */
    border: 1px solid lightgray;
    border-top:  1px solid #e99d4b;
    position: absolute;
    z-index: 2;
    
}


#nav-search-bar:focus ~ .search-dropdown{
    display: flex;
}

#nav-search-bar:focus ~ .search-dropdown-container{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 200px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0,0,0, 0.5);
 
}

.search-dropdown button:hover{

    background:rgb(223, 223, 223);
}

.search-dropdown:hover{
    display:flex;
}


.nav-search-bar-with-icon{

    display: flex;
    width: 100%;
    position: relative;
}

.search-book-link{
    color: black;
    padding: 10px 8px;
    font-size: 14px;
}

.result-number{
    font-size: 14px;
}
.result-letter{
    font-size: 13px;
    color: #c45500;
    font-weight: bold;
}

.search-result{
    margin: 15px 10px;
}

.just-line{
    width: 100%;
    margin-bottom: 40px;
    border-bottom: 1px rgb(224, 223, 223) solid;
}

.flag{
    font-size: 28px;
    margin-left: 9px;
    margin-top: 7px;
}

.us-flag{
  height: 17px;
  width: 24px;
  margin-left: 15px;
  margin-right: 5px;
  margin-top: 21px;
  border-radius: 2px;
}

.flag-arrow{
    font-size: 13px;
    color: #a7acb2;
    margin-top: 24px;
    margin-left: 2px;
    margin-right: 6px;
}

/* .flag-arrow-div{
    border: solid 1px transparent;
    display: flex;
    margin-top: -5px;
    margin-left: 6px;
    height: 52px;
} */
.flag-arrow-div:hover{
    cursor: pointer;
    border: 1px solid #f1f1f1;
    border-radius: 3px;

}

.flag-arrow-div {
    position: relative;
    display: inline-block;
    /* border-bottom: 1px dotted black; */
    border: solid 1px transparent;
    display: flex;
    margin-top: 6px;
    margin-left: 6px;
    height: 52px;
  }
  
  .flag-arrow-div .flag-arrow-pop {
    visibility: hidden;
    /* visibility: visible; */
    /* width: 120px; */
    background-color: #fff;
    color: black;
    text-align: center;
    border-radius: 3px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 92%;
    left: 136%;
    margin-left: -78px;
    border: 1px solid #cdcdcd;
    height: 108px;
    width: 214px;
  }

  .flag-arrow-div .flag-arrow-pop::before {
    display: block;
    content: "";
    width: 13px;
    height: 13px;
    border-left: 1px solid #cdcdcd;
    border-bottom: 1px solid #cdcdcd;
    transform: rotate(135deg);
    margin-top: -12px;
    margin-left: 38px;
    background-color: #fff;
    
  }
  
  .flag-arrow-div:hover .flag-arrow-pop {
    visibility: visible;
  }

  input[type="radio"] {
    /* remove standard background appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    width: 15px;
    height: 15px;
    padding: 11px;
    background-clip: content-box;
    border: 3px solid #a2a0a0;
    background-color: #e7e6e7;
    border-radius: 50%;
    /* -webkit-transform: scale(6.5); */
    transform: scale(0.4);
    margin-left: -41px;
    position: absolute;
    left: 41px;
  }

  input[type="radio"]:checked {
    background-color: #e77600;
  }

  .language{
    
    position: absolute;
    top: 25px;
    left: 38px;
    font-size: 12px;

  }

  .languge-line{
    border-bottom: 1px #e7e6e7 solid;
    height: 47px;
    width: 165px;
    margin-left: 34px;
  }

  .after-languge-line{
      
    font-size: 13px;
    margin-top: 12px;
    margin-left: 16px;
    text-align: left;

  }

