.search-dropdown{
    display: none;
    background-color: white;
    /* display: none; */
    flex-direction: column;
    /* margin-left: 48px; */
    margin-top: 40px;
    width: 100%;
    border: 1px solid lightgray;
    border-top:  1px solid #e99d4b;
    position: absolute;
}

#nav-search-bar:focus ~ .search-dropdown{
    display: flex;
}

.search-dropdown p:hover{
    cursor: pointer;
    background:rgb(223, 223, 223);
}

.search-dropdown:hover{
    display:flex;
}


.nav-search-bar-with-icon{

    display: flex;
    width: 100%;
    position: relative;
}

.search-book-link{
    color: black;
    padding: 10px 8px;
    font-size: 14px;
}