.wishlist-container{
    margin: 0 auto;
    width: 75%;
    
}

.wishlist-page{
    border: 1px solid rgb(219, 218, 218);
    /* width: 80%; */
    margin: 40px;
    padding-top: 5px;
    padding-bottom: 30px;
    min-width: 780px;
}

.wl-title{
    color: #0066c0;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 7px;
}

a.wl-title{
    color: #0066c0;
    font-size: 14px;
    font-weight: 700;
}

.wl-author{
    font-size: 13px;
}

.wishlist-pic{
    height: 145px;
    width: 100px;
}

.wishlist-items{
    margin-bottom: 20px;
    margin-top: 20px;
    display: flex;
    border-top: solid 1px #ddd;
    padding-top: 20px;
    justify-content: center;
}

.wl-info{
    width: 50%;
    margin:0 50px;
}


.wl-add-to-cart-button{
    border: solid 1px;
    height: 28px;
    width: 218px;
    border-color: #a88734 #9c7e31 #846a29;
    border-radius: 4px;
    text-align: center;
    font-size: 13px;
    background:  #f0c14b;
 
}

.wl-add-to-cart-button:hover{

    background-image: linear-gradient(rgb(247, 213, 165), rgb(240, 187, 75));    
    border-color: #a88734 #9c7e31 #846a29;
}

.wl-add-to-cart-button:focus{
    outline: none;
    border-color: #e77600;
    box-shadow: 0 0 3px 2px rgba(228,121,17,.5);
}

.deleteList{
    border: solid 1px;
    height: 28px;
    width: 218px;
    border-color: #b9b9b6;
    border-radius: 4px;
    text-align: center;
    font-size: 13px;
    background: #f4f4f4;
    margin-top: 10px;
}

.deleteList:hover{
    background: #e8e8e8;;
}

.wl-h3{
    font-size: 18px;
    font-weight: bold;
    color: black;
    white-space: nowrap;
    padding-bottom: 20px;
    padding-left: 20px;
}

.wl-rating-star-container {
    display: flex;
    margin: auto;
    margin-top: 2px;
    margin-bottom: 5px;
}

.wl-price{
    font-size: 17px;
    margin-right: 3px;
}

.wl-delivery{
    font-size: 13px;
    margin-left: 10px;
}

.wl-date{
    font-size: 13px;
    margin-bottom: 10px;
}

.wl-end-list{
    border-top: solid 1px #ddd;
    margin-top: 45px;
    margin-bottom: 36px;
}


h2.crossline {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid rgb(233, 232, 229);
    line-height: 0.1em;
    margin: 10px 0 4px;
}

#wl-end-list {
    color: rgb(141, 141, 138);
    font-size: 0.75em;
}

h2.crossline span {
    background: #fff;
    padding: 0 8px;
}

.review-count-wishlist-page{
    margin-top: 5px;
    margin-left: 8px;
    /* min-width: 134px; */
    font-size: 13px;
    color: #0066c0;
}

.wishlist-prime{
    display: flex;
}

.wl-search-icon-btn {
    background: #5f6368;
    border-color: #3d444c #2f353b #2c3137;
    color: #fff;
    box-shadow: 0 1px 0 rgb(255 255 255 0.15) inset;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    font-size: 13px;
    font-weight: 600;
    padding: 5px 11px;
    margin-left: 10px;
    height: 20px;
    margin-right: 10px;
}

.wl-search-bar{
   
    background-color: white;
    font-size: 14px;
    position: 1px solid #888C8C;
    position: static;
    border: 1px solid #888C8C;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgb(15 17 17 0.15) inset;
    height: 17px;
    padding: 7px 29px;
    width:180px;
    margin-right: 20px;
}

.wl-search-bar:hover{
    background-color: #F7FEFF;
    border-color: #007185;
    box-shadow: 0 0 0 3px #c8f3fa, 0 1px 2px rgb(15 17 17 0.15) inset;
}

.wl-search-bar:focus{
    background-color: #F7FEFF;
    border-color: #007185;
    box-shadow: 0 0 0 3px #c8f3fa, 0 1px 2px rgb(15 17 17 0.15) inset;
}

.wl-search-close{
    color: orange;
    position: absolute;
    left: 220px;
    top: 8px;
    font-size: 14px;
    cursor: pointer;
}

.wl-search-div {
    display: flex;
    align-items: baseline;
    margin: 30px 0px 40px 0px;
}