#profile-container{
    width: 80%;
    margin: auto;
}

.just-grey{
    height: 200px;
    background-color: #d5dbdb;
}

.profile-header{
    height: 160px;
    border: #e4e8e8 solid 1px;
    margin-bottom: 12px;
    background-color: white;
}

.profile-header-username{
    font-size: 24px;
    padding-left: 30px;
    padding-top: 30px;
    margin-left: 250px;
}

.profile-add-to-cart-button{
    border: solid 1px;
    height: 28px;
    width: 218px;
    border-color: #a88734 #9c7e31 #846a29;
    border-radius: 4px;
    text-align: center;
    font-size: 13px;
    background:  #f0c14b;
    margin-top: 55px;
    float: right;
    margin-right: 20px;
 
}

.profile-add-to-cart-button:hover{

    background-image: linear-gradient(rgb(247, 213, 165), rgb(240, 187, 75));    
    border-color: #a88734 #9c7e31 #846a29;
}

.profile-add-to-cart-button:focus{
    outline: none;
    border-color: #e77600;
    box-shadow: 0 0 3px 2px rgba(228,121,17,.5);
}

.profile-review-date{
    font-size: 13px;
    padding-left: 8px;
    margin-top: 10px;
    color: #6C7778;
}

.profile-review-list{

    background-color: white;
    border: 1px solid #e4e8e8 ;
    margin-bottom: 12px;
    padding: 20px;

}

#profile-page{
    background-color: #f6fafb;
    min-width: 869px;
}

#profile-pictureText{
    display: flex;
    border-bottom: 1px solid #e4e8e8;
    padding-bottom: 20px;
}

.profile-ictureText-title{
    font-size: 13px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.profile-reviewBody{
    font-size: 13px;
}

.profile-rating-star-container{
    display: flex;
    margin-top: 12px;
    flex-wrap: wrap;
}

.profile-book-info{
    border: 1px solid #e4e8e8;
    margin-top: 25px;
    padding: 15px;
    display: flex;
}

.profile-pic{
    height: 85px;
    width: 58px;
}

a.profile-title{
    color: black;
    font-size: 13px;
}

.profile-rating{
    margin: 20px;
}

#profile-pic{
    border: 3px solid white;
    position: absolute;
    height: 200px;
    width: 200px;
    margin-top: 100px;
    border-radius: 105px;
    margin-left: 42px;
}

.profile-popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0,0,0, 0.5);
  }

  .profile-popup_inner {
    position: absolute;
    left: 25%;
    right: 25%;
    top: 10%;
    bottom: 25%;
    margin: auto;
    background: white;
    height: fit-content;
    padding: 20px;
    /* max-width: 400px; */
    width: fit-content;
    border-radius: 6px;
  }


#pw{
    width: 230px;
    border-radius: 3px;
    /* height: 31px; */
    height: 23px;
    border: 1px solid #a6a6a6;
    font-size: 12.5px;
    font-family: 'Lato', sans-serif;
    padding-left: 7px;
    margin-bottom: 20px;
}

input:focus{
    border-color: #e77600;
    box-shadow: 0 0 3px 2px rgba(228,121,17,0.5);
}

.pop-user{
    display: flex;
}

#pop-user-pic{
    width: 62px;
    height: 58px;

}

.pop-username{
    margin-top: 14px;
}
.pop-email{
    font-size: 13px;
    color: #767676;
}

.pop-password{
    margin-bottom: 5px;
}

.pop-form{
    margin: 18px 10px;
}


.pop-confirm-btn{
    background: #e4bc57;
    text-align: center; 
    margin: auto;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    background: rgb(255,255,255);
    background-image: linear-gradient(rgb(247, 223, 165), rgb(240, 193, 75));
    border: solid 1px;
    border-color: #c59f3d #9c7e31 #846a29;
    width: 100px;
    height: 28px;
    border-radius: 3px;
    margin-right: 38px;

}

.pop-confirm-btn:hover{
    background-image: linear-gradient(rgb(247, 213, 165), rgb(240, 187, 75));    
    border-color: #a88734 #9c7e31 #846a29;
}


.pop-confirm-btn:focus{
    outline: none;
    border-color: #e77600;
    box-shadow: 0 0 3px 2px rgba(228,121,17,.5);
}

.pop-close-btn{

    text-align: center;
    width: 100px;
    height: 28px;
    border: solid 1px;
    border-color: #a88734 #9c7e31 #846a29;
    border-radius: 4px;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    background:  rgb(237, 146, 32);

}

.pop-close-btn:hover{

    background-image: linear-gradient(rgb(244, 188, 119), rgb(225, 133, 18));
    background-image: linear-gradient(rgb(244, 188, 119), rgb(225, 133, 18));
}

.pop-close-btn:focus{
    outline: none;
    border-color: #e77600;
    box-shadow: 0 0 3px 2px rgba(228,121,17,.5);
}



.edit-login-container{
    width: 25%;
    margin: auto;
}

.profile-phone{
    border: solid 1px #a6a6a6;
    margin-top: 5px;
    width: 186px;
    border: solid 1px #a6a6a6;
    margin-top: 5px;
    width: 186px;
    font-size: 14px;
    padding: 4px;
}
.edit-login-item{

    border: 1px solid #e4e8e8 ;
    border-bottom: none;
    height: 70px;
    text-align: center;
    padding-top: 20px;
}

.edit-login-inner{
    width: 280px;
}

.edit-login-item.last{
    border-bottom: 1px solid #e4e8e8 ;
}

.edit-done-btn{
    background: #e4bc57;
    text-align: center; 
    margin: auto;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    background: rgb(255,255,255);
    background-image: linear-gradient(rgb(247, 223, 165), rgb(240, 193, 75));
    border: solid 1px;
    border-color: #c59f3d #9c7e31 #846a29;
    width: 60px;
    height: 28px;
    border-radius: 3px;
    
    margin-top: 30px;
    margin-bottom: 80px;
    margin-left: 52px;

}

.edit-done-btn:hover{
    background-image: linear-gradient(rgb(247, 213, 165), rgb(240, 187, 75));    
    border-color: #a88734 #9c7e31 #846a29;
}


.edit-done-btn:focus{
    outline: none;
    border-color: #e77600;
    box-shadow: 0 0 3px 2px rgba(228,121,17,.5);
}

.phone-length-error{
    font-size: 12px;
    color: #c40000;
}

.word-bold{
    font-weight: bold;
    font-size: 14px;
}

.word-regular{

    font-size: 14px;
}


.threeDots-btn{
    margin-left: auto;
}

.threeDots-pic{
    height: 4px;
    width: 25px;
}

.tooltip {
    position: relative;
    display: inline-block;
    /* border-bottom: 1px dotted black; */
    margin-left: auto;
    font-size: 14px;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    /* visibility: visible; */
    /* width: 120px; */
    background-color: #fff;
    color: black;
    text-align: center;
    border-radius: 4px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 106%;
    left: 73%;
    margin-left: -78px;
    border: 1px solid #cdcdcd;
    height: 66px;
    width: 140px;
  }

  .tooltip .tooltiptext::before {
    display: block;
    content: "";
    width: 13px;
    height: 13px;
    border-left: 1px solid #cdcdcd;
    border-bottom: 1px solid #cdcdcd;
    transform: rotate(135deg);
    margin-top: -12px;
    margin-left: 65px;
    background-color: #fff;
  }
  
  .tooltip .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
  /* .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
  } */
  
  /* .tooltip:hover .tooltiptext {
    visibility: visible;
  } */

.profile-editReview-btn{
      color: black;
      margin-top: 10px;
      margin-bottom: 10px;
      width: 100%;
    }

.profile-editReview-btn:hover{
    color: #c45500;
}

.profile-deleteReview-btn{
    width: 100%;
}
.profile-deleteReview-btn:hover{
    color: #c45500;
}

.verified-purchase{
    color: #c45500;
    font-size: 12px;
    font-weight: 700;
    margin-left: 10px;
    margin-top: 6px;
}

.login-city{
    border: solid 1px #e8e2e2;

    height: 18px;
    width: 186px;
    margin: 8px auto;
    font-size: 14px;
    padding: 4px;
}

.eidt-profile-close-btn{

    text-align: center;
    width: 60px;
    height: 28px;
    border: solid 1px;
    border-radius: 4px;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    background: rgb(237, 146, 32);
    border-color: #c59f3d #9c7e31 #846a29;
    margin-left: 50px;

}

.eidt-profile-close-btn:hover{

    background-image: linear-gradient(rgb(244, 188, 119), rgb(225, 133, 18));
    background-image: linear-gradient(rgb(244, 188, 119), rgb(225, 133, 18));
}

.eidt-profile-close-btn:focus{
    outline: none;
    border-color: #e77600;
    box-shadow: 0 0 3px 2px rgba(228,121,17,.5);
}

.user-review-title{
    padding: 22px;
    font-size: 18px;
}

.review-down-arrow{
    border: 1px solid #c9c5c5;
    background: #f4f5f7;
    height: 27px;
    border-radius: 4px;
    font-size: 14px;
    width: 128px;
    text-align: center;
    padding-top: 3px;
    margin-left: auto;
    margin-right: 15px;
}

.profile-disply-flex{
    border: 1px solid #e4e8e8;
    display: flex;
    background-color: white;
    align-items: center;
}

.arrow-bold{
    font-size: larger;
    font-weight: bolder;
    margin-left: 5px;
}

#profile-end-list{
    font-size: 14px;
    margin-top: 45px;
    margin-bottom: 36px;
    background: #f6fafb;
}

.profile-padding{
    padding: 60px 0px;
}
