.order-outer-container{
    width: 90%;
    margin: auto;
    
}

.order-ul{
    margin-bottom: 60px;
  
    min-width: 622px;
}

.item-container{
    height: 285px;
    font-family: 'Arial', sans-serif;
    margin-bottom: 15px;

}

.item-header{
    display: flex;
    border: 1px solid  #ddd;
    height: 70px;
    padding: 0 22px;
    background: #f6f6f6;
    color: #565959;
    border-radius: 4px 4px 0 0;
}

.display-block{
    width: 190px;
    margin: auto 0;
}

.display-block-top{
    font-size: 13px;
    color: #565959;
    line-height: 16px;
    margin-bottom: 2px;
}

.display-block-bottom{
    font-size: 15px;
    color: #373838;
    line-height: 20px;

}
.display-block-bottom-last{
    font-size: 15px;
    color: #0066c0;
    line-height: 20px;
}

.order-num{
    margin: auto 0;
    margin-left: auto;
    font-size: 13px;
}

.item-body{
    display: flex;
    justify-content: center;
    align-items: end;
    height: 148px;
    border: 1px solid #ddd;
    border-top: none;
    border-radius: 0 0 4px 4px;
    padding-top: 40px;
}

a.order-title{
    color: #0066C0;
    font-size: 16px;
    position: relative;
}

.order-pic{
    height: 100px;
    width: 70px;
}

.order-author{

    font-size: 13px;
    margin-bottom: 10px;
    margin-top: 3px;

}

.buyAgain{
    height: 25px;
    width: 25px;
    margin-top: 3.5px;
    margin-left: 3px;
    position: absolute;
}

.order-add-to-cart-button{
   
    border: solid 1px;
    height: 28px;
    width: 218px;
    border-color: #a88734 #9c7e31 #846a29;
    border-radius: 4px;
    text-align: center;
    font-size: 13px;
    background:  #f0c14b;
 
}

.order-add-to-cart-button:hover{

    background-image: linear-gradient(rgb(247, 213, 165), rgb(240, 187, 75));    
    border-color: #a88734 #9c7e31 #846a29;
}

.order-add-to-cart-button:focus{
    outline: none;
    border-color: #e77600;
    box-shadow: 0 0 3px 2px rgba(228,121,17,.5);
}

.your-orders{
    font-size: 28px;
    margin-top: 25px;
    margin-bottom: 25px;
    font-family: 'Lato', sans-serif;
    white-space: nowrap;
}

.order-write-review{
    border: solid 1px;
    height: 28px;
    width: 218px;
    border-color: #b9b9b6;
    border-radius: 4px;
    text-align: center;
    font-size: 13px;
    background: #f4f4f4;
    margin-top: 10px;
    line-height: 28px;
    color: black;
}

.order-write-review:hover{
    background: #e8e8e8;
}

.order-quant{
    border: 1px solid #b9b9b6;
    border-radius: 50px;
    width: 21px;
    height: 18px;
    font-size: 13px;
    color: black;
    background: white;
    opacity: 0.9;
    text-align: center;
    padding-top: 3px;
    position: absolute;
    bottom: 49px;
    right: -4px;
}

.order-title{
    color: #0066c0;
    font-size: 14px;
    line-height: 20px;
}


.order-search-div{
    display: flex;
    align-items: center;
    margin: 30px 0px 20px 0px
}

.order-search-bar{
   
    background-color: white;
    font-size: 14px;
    position: static;
    border: 1px solid #888C8C;
    border-radius: 3px;
    /* height: 31px; */
    height: 17px;
    padding: 7px 29px;
    width:332px;
}

.order-search-bar:hover{
    background-color: #F7FEFF;
    border-color: #007185;
}

.order-search-bar:focus{
    background-color: #F7FEFF;
    border-color: #007185;
}

.order-search-icon{
    position: absolute;
    height: 15px;
    width: 15px;
    left: 8px;
    top: 9px;
    opacity: 84%;
}

.order-margin-auto{
    margin-left: auto;
    position: relative;
}

.order-search-icon-btn {
    background: #5f6368;
    border-color: #3d444c #2f353b #2c3137;
    color: #fff;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    font-size: 13px;
    font-weight: 600;
    padding: 5px 11px;
    margin-left: 10px;
    height: 20px;
}

.order-search-close{
    color: orange;
    position: absolute;
    left: 372px;
    top: 8px;
    font-size: 14px;
    cursor: pointer;
}